<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Osman Siddiqi | Harvard Kennedy School | Code for South Africa </title>

    <!-- Bootstrap -->
    <link href="static\bootstrap\css\bootstrap.min.css" rel="stylesheet">
    <link href="static\bootstrap\css\bootstrap-select.min.css" rel="stylesheet">
    <link href="static\slider\css\slider.css" rel="stylesheet">
    <link href="static\styles.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container text-center">

    <div class="jumbotron">
        <h1>The Fair Wage</h1>
        <p class="lead">How well do you pay your household workers?</p>
    </div>

</div>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <p class="lead">
                <strong>South Africa (2014)</strong> - This tool is meant to help you make an informed decision on what a fair rate of pay is given the expenses South Africans face.
                Often times we pay our domestic employees what 'feels right', discuss rates with neighbours, or even just pay minimum wage - roughly R80 per day.
            </p>
            <hr>

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <form role="form">
                        <div class="form-group">
                            <label for="pay-amount" class="lead">How much do you pay your household worker?</label><br>
                            <div class="row">
                                <div class="col-xs-4">
                                    <input  class="form-control"
                                            type="text"
                                            name="pay-amount"
                                            id="pay-amount"
                                            placeholder="Rand"
                                            />
                                </div>
                                <div class="col-xs-5">
                                    <select class="selectpicker" name="pay-rate" id ="pay-rate">
                                        <option value="day" selected>per day</option>
                                        <option value="week">per week</option>
                                        <option value="month">per month</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="household-size" class="lead">Including your household worker, how large is their household?</label><br>
                            <input
                                    id="household-size"
                                    style="width: 500px;"
                                    type="text"
                                    name="household-size"
                                    data-slider-min="1"
                                    data-slider-max="15"
                                    data-slider-step="1"
                                    value="3"
                                    data-slider-value="3"/><br>
                        </div>
                        <p class="text-muted">*75% of domestic workers are known to be sole income providers for their households.</p><br>

                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                                </div>
                            </div>
                        </div>

                    </form>

                    <p class="lead">Your monthly equivalent for pay is R<span id="output-amount">0</span></p>
                    <p class="text-muted">*We assume full time employment at five days a week and a little over four weeks a month.</p>
                </div>
            </div>

            <h2 class="text-success">
                <span id="output-percentage">0</span>% of minimal need. <small><span id="output-statement"></span></small>
            </h2>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="static\bootstrap\js\bootstrap.min.js"></script>
<script src="static\bootstrap\js\bootstrap-select.min.js"></script>
<script src="static\slider\js\bootstrap-slider.js"></script>


<script>

    $('#household-size').slider({
        formater: function(value) {
            return value + ' people';
        }
    });

    $('.selectpicker').selectpicker();

    var minwage = 1880;
    var payrate = 0;

    // Assumption using DoL info - a month includes 4.33 weeks and a week is for 5 work days.

    if (input=="day")
        payrate = input2*5*4.33
    else if (input=="week")
        payrate = input2*4.33
    else if (input=="month")
        payrate = input2

    var minwage_ratio = payrate/minwage

    // Per person costs for each expenditure type
    // All costs are adjustable.

    // Proportional costs to start with
    rent_cost = 500
    food_cost = 900
    trans_daily = 30
    educ_cost = 100
    comm_cost = 100
    health_cost = 40
    recreation_cost = 100
    other_cost = 100
    trans_cost = trans_daily*26

    if (input3 > 3)
        totalcost = rent_cost+ input3*food_cost+trans_cost+educ_cost*(input3-2) + comm_cost*input3 + health_cost*input3 + other_cost + recreation_cost*input3
    else
        totalcost = rent_cost+ input3*food_cost+trans_cost+educ_cost*(input3-1) + comm_cost*input3 + health_cost*input3 + other_cost + recreation_cost*input3

    final_output = payrate/totalcost*100;

    var statement = "This seems like a fair wage! Share your results!";

    if ((final_output>0) && (final_output<= 75))
        statement = "You're paying too little given the living costs and the size of your household employee. Take time to reassess how much you're paying by using our tool."
    else if ((final_output>75) && (final_output<= 90))
        statement = "You're nearly there! Take time to reassess the wage by using our tool or discussing costs with your household employee."
    else if ((final_output>90) && (final_output<= 100))
        statement = "You're very close to paying a fair wage given the living costs and your employee's household size. Share your results!"
    else if (final_output == 0)
        statement = "Try out the fair wage tool and see how your pay reflects living costs in South Africa."
</script>

</body>
</html>